*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
scroll-behavior: smooth;
    
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    /* text-align: right; */
    color: white;
    
    
}

header img{
    width: 112px;
    height: 100px;
    border-radius: 60%;
}
nav{
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(235, 243, 236);
    
}

nav a{
    padding: 100px;
    /* margin: 10px;
    padding: 50px; */
    font-size: 25px;
    border-radius: 5px;
    /* background-color: white; */
    text-decoration: none;
    transition: background-color ease-in 0.4s;
}
nav a:hover{
    background-color: purple;
    
}

main span{
    width: 30px;
}
section#bio{
    margin: 30%;
}
section#projects{
    margin: 30%;
scroll-behavior: smooth; 
}
